*{
    margin:0;
    padding:0;
}
.header{

    background-color: #ccccff;
    padding-bottom:70px;
    padding-left:50px;
    font-family:Apple Chancery, cursive;

}

.section1{
    float:left;
}

.section2{
    float:right;
    margin-right:100px;
    padding-top:20px;
}

.section2 ul li{
    display:inline;
    margin-right: 10px;
}

.section2 ul li a{
    text-decoration: none;
}

.back{
    background-image: url('image/backimg.jpg');
}